<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Phoneshop servlet api training</display-name>

  <context-param>
    <param-name>insertDemoData</param-name>
    <param-value>true</param-value>
  </context-param>

  <listener>
    <listener-class>com.es.phoneshop.web.listeners.ProductDemodataServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>productList</servlet-name>
    <servlet-class>com.es.phoneshop.web.ProductListPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>productList</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>productInfo</servlet-name>
    <servlet-class>com.es.phoneshop.web.ProductDetailsPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>productInfo</servlet-name>
    <url-pattern>/products/info/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>productHistory</servlet-name>
    <servlet-class>com.es.phoneshop.web.ProductPriceHistoryServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>productHistory</servlet-name>
    <url-pattern>/products/history/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserCart</servlet-name>
    <servlet-class>com.es.phoneshop.web.UserCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserCart</servlet-name>
    <url-pattern>/products/cart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>miniCart</servlet-name>
    <servlet-class>com.es.phoneshop.web.MiniCartServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>miniCart</servlet-name>
    <url-pattern>/products/cart/miniCart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>checkoutPage</servlet-name>
    <servlet-class>com.es.phoneshop.web.CheckoutPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>checkoutPage</servlet-name>
    <url-pattern>/products/order</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteCartItem</servlet-name>
    <servlet-class>com.es.phoneshop.web.DeleteCartItemServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleteCartItem</servlet-name>
    <url-pattern>/products/cart/deleteCartItem/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>personalDetails</servlet-name>
    <servlet-class>com.es.phoneshop.web.PersonalDetailsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>personalDetails</servlet-name>
    <url-pattern>/products/order/filling-details</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>finalCheckout</servlet-name>
    <servlet-class>com.es.phoneshop.web.FinalCheckoutPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>finalCheckout</servlet-name>
    <url-pattern>/products/order/finalCheckout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>orderOverview</servlet-name>
    <servlet-class>com.es.phoneshop.web.OverviewPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>orderOverview</servlet-name>
    <url-pattern>/products/order/overview/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>orders</servlet-name>
    <servlet-class>com.es.phoneshop.web.UserOrdersServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/products/order/overview</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteOrder</servlet-name>
    <servlet-class>com.es.phoneshop.web.DeleteOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>deleteOrder</servlet-name>
    <url-pattern>/products/order/delete/*</url-pattern>
  </servlet-mapping>

  <error-page>
  	<location>/WEB-INF/pages/productNotFoundError.jsp</location>
  	<exception-type>com.es.phoneshop.exception.ProductNotFoundException</exception-type>
  </error-page>

  <error-page>
  	<location>/WEB-INF/pages/commonError.jsp</location>
    <error-code>500</error-code>
  </error-page>


</web-app>
